{% extends "header.html" %} {% block content %} {% load crispy_forms_tags %}
<style>
  * {
    font-family: "Roboto";
    list-style: none;
    text-decoration: none;
    letter-spacing: 1px;
  }
</style>
<form action="" class="mt-2" method="post">
  {% csrf_token %} {{ form|crispy }}
  <button type="submit" class="btn btn-sm btn-outline-dark">Iniciar sesion!</button>
</form>
<hr>
<h5>No tenes cuenta?</h5>
<a href="{% url 'registro' %}" class="btn btn-sm btn-outline-dark">Registrate ahora</a>
{% endblock %}
