
<table class="table table-bordered ">
     <thead class="thead-dark">
        <tr>
            <th colspan="3" class="text-center">
                Carrito de compras
            </th>
        </tr>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% if request.session.cart.items %}
           {% for key, value in request.session.cart.items %}
                <tr class="text-center">
                    <td>{{ value.name }}</td>
                    <td>{{ value.quantity }}</td>
                    <td>
                        <a
                            href="{% url 'cart:add' value.product_id %}"
                            class="btn btn-sm btn-outline-dark"
                        >
                            +
                        </a>
                        <a
                            href="{% url 'cart:decrement_product' value.product_id %}"
                            class="ml-2 btn-sm btn btn-outline-dark"
                        >
                            -
                        </a>
                        Total {{ value.price}}
                    </td>
                </tr>
           {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">
                    <div class="alert alert-danger text-center">
                        No tienes productos en el carrito
                    </div>
                </td>
            </tr>
        {% endif %}
    </tbody>
   
    <tfoot>
        <tr>
            <td colspan="3">
                <div class="col-md-12 text-center">
                Total: {{ cart_total_amount }}
            </div>
            </td>
        
        
        
            <tr>
                <td colspan="3">
                    <div class="col-md-12 text-center">
                    <a href="{% url "process_order" %}" class="btn btn-lg btn-outline-dark">Crear pedido</a>
                </div>
                </td>
            </tr>
        
    </tfoot>
</table>